body {
  /*Colours*/
  /*--base: #338A2E;
  --accent: #A9383B;
  --base: #4FCB48;
  --accent: #F8585C;*/
  --base: #639157;
  --accent: #A5636B;
  /*--base: #76DB71;
  --accent: #FD8285;*/
  --dark-grey: #424242;
  --light-grey: #FAFAFA;
  --bonus: #69A1AF;
  --original-dark: #222;


  background-color: var(--light-grey);
  /*background-color: white;*/
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: var(--dark-grey);
}

.App-header {
  /*background-color: #222;*/
  /*background-color: var(--bonus);*/
  height: 50px;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  color: white;
  color: var(--dark-grey);
  font-size: 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.habit {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.habit-name {
  float: left;
  display: inline-block;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  padding: 30px 0 30px 0;
}

.day {
  /*color: white;*/
  color: var(--light-grey);
  border: none;
  border-radius: 10px;
  /*border: 3px solid;*/
  /*border-color: black;*/
  width: 95px;
  height: 95px;
  display: inline-block;
  float: left;
  margin: 0 0 0 4px;
  outline: none;


  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.day:before {
  border-radius: 10px;
  background-color: black;
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.day:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.day-right {
  display: inline-block;
  float: left;
  border: none;
  background-color: transparent;
  outline: none;
  /*width: 30px;
  height: 95px;*/
  /*border-left: solid 30px;
  border-bottom: solid 47.5px transparent;
  border-top: solid 47.5px transparent;
  border-right: none;*/
}

.day-left {
  display: inline-block;
  float: left;
  border: none;
  background-color: transparent;
  outline: none;
  /*width: 30px;
  height: 95px;*/
  /*border-right: solid 30px;
  border-bottom: solid 47.5px transparent;
  border-top: solid 47.5px transparent;
  border-left: none;*/
}

.day-text {
  transition: transform 1s;
}

.day:hover > .day-text {
  transform: translate(3px, 2px);
}

.day-button {
  color: var(--dark-grey);
  display: inline-block;
  float: left;
  width: 50px;
  height: 95px;
  margin: 0 0 0 4px;
  transition: transform 1s;
}

.day-button.right:hover {
  transform: translate(10px, 0);
}

.day-button.left:hover {
  transform: translate(-10px, 0);
}

.day.blank {
  background-color: var(--bonus);
}
.day.complete {
  background-color: var(--base);
}
.day.incomplete {
  background-color: var(--accent);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
