body {
  /*Colours*/
  /*--base: #338A2E;
  --accent: #A9383B;
  --base: #4FCB48;
  --accent: #F8585C;*/
  --base: #639157;
  --accent: #A5636B;
  /*--base: #76DB71;
  --accent: #FD8285;*/
  --dark-grey: #424242;
  --light-grey: #FAFAFA;
  --bonus: #69A1AF;
  --original-dark: #222;


  background-color: var(--light-grey);
  /*background-color: white;*/
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  /*background-color: #222;*/
  /*background-color: var(--bonus);*/
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}

.habit-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.App-title {
  color: white;
  color: var(--dark-grey);
  font-size: 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.habit {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0 auto;
  padding: 0;
}

.habit-name {
  font-size: 16px;
  font-weight: 500;
  flex: 2;
  display: flex;
  align-items: center;
}

.day-list {
  display: flex;
  flex: 12;
}

.day {
  padding: 0;
  color: var(--light-grey);
  border: none;
  border-radius: 10px;
  border: 2px solid;
  border-color: black;
  outline: none;
  flex: 1;
  position: relative;
  margin: 4px;


  /*vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;*/
}

/*.day:before {
  content: "";
  padding-top: 100%;
  display:inline-block;
  vertical-align:middle;
}*/

.day:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}

/*.day:before {
  border-radius: 10px;
  background-color: black;
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}*/

/*.day:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/

.day-text {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.day:hover > .day-text {
  transform: translate(3px, 2px);
}

.day-button {
  color: var(--dark-grey);
  transition: transform 1s;
  flex: 1;
  height: 100%;
  align-self: center;
}

.day-button.right:hover {
  transform: translate(10px, 0);
}

.day-button.left:hover {
  transform: translate(-10px, 0);
}

.day.blank {
  background-color: var(--bonus);
}
.day.complete {
  background-color: var(--base);
}
.day.incomplete {
  background-color: var(--accent);
}

.footer {
  margin-top: auto;
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .habit-name {
    display: none;
  }
  .habit {
    width: 90%;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-right-enter {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}
